<template name="sidebar">
     <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="search-box">
                     <!--Search form, aling right-->
                    <form role="search">
                        <div class="input-group">
                          <input type="text" class="form-control form-search no-margin" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                          </span>
                        </div><!-- /input-group -->
                    </form>
                    <!--end of search form-->
                </li>
                <!--Menu Dashboard-->
                <li><a href="#" class=""><span class="fa fa-dashboard fa-fw"></span>&nbsp;&nbsp;&nbsp;Dashboard</a></li>
                <!--Menu 1-->
              <li class="has-sub"><a href="#submenu1" class="" data-toggle="collapse" data-parent="#MainMenu"><span class="fa fa-plug fa-fw "></span>&nbsp;&nbsp;&nbsp;AP2T <span class="pull-right fa fa-angle-down"></span></a></li>
              <div class="collapse menu" id="submenu1" >
                <li>
                    <a href="javascript:;" class="list-group-submenu">Subitem 1.1</a>
                </li>
                  <li>
                    <a href="javascript:;" class="list-group-submenu">Subitem 1.2</a>
                </li>
                  <li>
                    <a href="javascript:;" class="list-group-submenu">Subitem 1.3</a>
                </li>
              </div>
                <!-- end of menu 1-->
                <!--Menu 2-->
              <li>
                <a href="#submenu2" class="" data-toggle="collapse" data-parent="#MainMenu">
                    <span class="fa fa-bolt fa-fw"></span>&nbsp;&nbsp;&nbsp;APKT<span class="pull-right fa fa-angle-down"></span>
                </a>
            </li>
              <div class="collapse menu" id="submenu2" >
                <li>
                    <a href="#subsubmenu2" class="list-group-submenu" data-toggle="collapse" data-parent="#SubMenu1">Subitem 2.1 <span class="pull-right fa fa-angle-down"></span></a>
                </li>
                    <div class="collapse  menu"  id="subsubmenu2" >
                        <li class="menu"><a href="#" class="list-group-subsubmenu" data-parent="#submenu2">Subitem 2.1.1 a</a></li>
                        <li class="menu"><a href="#" class="list-group-subsubmenu" data-parent="#submenu2">Subitem 2.1.2 a</a></li>
                    </div>
                
                  <li>
                    <a href="javascript:;" class="list-group-submenu">Subitem 2.2</a>
                </li>
              </div>
                <!-- end of menu 2-->
                <!--Menu 3-->
                  <li><a href="#submenu3" class="" data-toggle="collapse" data-parent="#MainMenu"><span class="fa fa-ship fa-fw"></span>&nbsp;&nbsp;&nbsp;BBO <span class="pull-right fa fa-angle-down"></span></a></li>
                  <div class="collapse menu" id="submenu3" >
                    <li>
                        <a href="javascript:;" class="list-group-submenu">Subitem 1.1</a>
                    </li>
                      <li>
                        <a href="javascript:;" class="list-group-submenu">Subitem 1.2</a>
                    </li>
                      <li>
                        <a href="javascript:;" class="list-group-submenu">Subitem 1.3</a>
                    </li>
                  </div>
                    <!-- end of menu 3-->
            <li><a href="#" class=""><span class="fa fa-book fa-fw"></span>&nbsp;&nbsp;&nbsp;About</a></li>
                <!-- end of menu 4-->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
</template>